<!--The content below is only a placeholder and can be replaced.-->

<div id="mySidenav" class="sidenav">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times;</a>
    <!--<a href="#">About</a>
     <a href="#">Services</a>
     <a href="#">Clients</a>
     <a href="#">Contact</a>
    <h1><u>Online sensors</u></h1>-->
    <ul>
        <li draggable [dragScope]="'sensor'"  class="list-group-item" *ngFor="let sensor of sensors; index as i" [dragData]="sensor">
            <app-sensor-id-cart [ID]="sensor"></app-sensor-id-cart>
        </li>
    </ul>


</div>

<div id="main">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="nav navbar-nav">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#8694; My sensors</span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="maincontent">
        <app-log-window></app-log-window>


    </div>

</div>