<div class="container">
    <div class="row main">
        <div class="panel-heading text-center">
            <div class="panel-title text-center">
                <h1 class="title">Register</h1>
                <hr/>
            </div>


            <form action="/signup" method="post">
                    <label class="control-label"><b>Name</b></label>
                    <div class="controls">
                        <input type="text" placeholder="Enter name" class="input-xlarge" name="name" required>
                    </div>

                <label class="control-label"><b>Email</b></label>
                <div class="controls">
                    <input type="text" placeholder="Enter Email" class="input-xlarge" name="email" required>
                </div>


                <label class="control-label"><b>Password</b></label>

                <div class="controls">
                    <input type="password" placeholder="Enter Password" class="input-xlarge" name="psw" required>
                </div>

                <br>
                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success" type="submit">Sign Up</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

